# Virtual environment
.venv/

# Environment variables / secrets
.env

# Local database
yt_analytics.db

# Python cache
__pycache__/
*.pyc

# PyCharm
.idea/

#local saved models
.models/best_view_model.joblib