# Virtual environment
.venv/

# Environment variables / secrets
.env

# Local database
yt_analytics.db

# Python cache
__pycache__/
*.pyc

# PyCharm
.idea/

#local saved models
models/

#local saved csvs
runs/

#local saved images of project
images/